*{
    padding: 0;
    margin: 0;
}

.container{
    margin-top: 30px; 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    width: 60%;
    min-width: 500px;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #66FFFF;
    text-shadow: 1px 2px 3px black;
    text-align: center;
}

h3{
    text-align: center;
}

label{
    margin-left: 20px;
    margin-right: 20px;
}

input, select{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid;
    padding: 0.7em;
}

input:hover{
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}



.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

button{
    margin: auto;
    display: block;
    width: 100px;
}

fieldset{
    border: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom:20px ; 
}

.grupoId{
    display: flex;
      flex-wrap: wrap;
    }
    
    .grupoId > div{
        flex: 1 1 200px;
    }
    
    .grupoEnd{
        display: flex;
      flex-wrap: wrap;
      
    }
    .grupoEnd > div{
        flex: 1 1 200px;
    }
    
    .grupoLocalidade{ 
        display: flex;
      flex-wrap: wrap;
    }
    .grupoLocalidade > div{
        flex: 1 1 200px;
    }
    
    .grupoContato{
        display: flex;
      flex-wrap: wrap;
    }
    .grupoContato > div{
        flex: 1 1 200px;
    }
    
    .campo{ 
        display: flex;
        flex-wrap: wrap;
        
    }

    .campo > *{
       flex: 1 1 100%;
    }

    option{
        font-weight: bold;
        font-size: 20px;
    }



 /*arrumando resp CPF*/
div#alinharRespCPF{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
div#aliRespCPF{
    display: flex;
    float: right;
    
}

div#aliEmojiCPF{
    display: flex;
    float: right;
}

input#cpf_digitado{
    width: 100%;
}

p#RespCPF{
    
    width: 10px;
}